<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="customColor" converterClass="io.github.rikkakawaii0612.mutsumi.util.LoggerColorConverter"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%customColor([%d{HH:mm:ss}] [%thread/%level] [%logger{36}]: %msg%n)</pattern>
        </encoder>
    </appender>

    <!-- 根日志级别 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>